[run]
omit =
    xii/django_river/admin/*
    xii/django_river/tests/*
    xii/django_river/migrations/*
    settings/*
    */__init__*
    .tox/*
    setup.py
    test_settings.py
    test_urls.py
    manage.py